<head>
	<title>{{ .Title}}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}
	{{ .Hugo.Generator }}

	{{ "<!-- CSS -->" | safeHTML }}
	<link rel="stylesheet" href="{{ "css/main.css" | absURL }}">
	
	{{ "<!-- JQUERY -->" | safeHTML }}
	<script src="{{ "js/jquery-3.4.1.min.js" | absURL }}"></script>

	{{ "<!--Favicon-->" | safeHTML }}
	<link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | absURL }}">
	<link rel="shortcut icon" href="{{ "favicon.ico" | absURL }}" type="image/x-icon">

	{{ if .RSSLink -}}
	{{ "<!-- RSS -->" | safeHTML }}
		<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
	{{- end }}

	{{ "<!-- Font Awesome -->" | safeHTML }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/solid.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/brands.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/fontawesome.min.css">

	{{ "<!-- Google Fonts -->" | safeHTML }}
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic" rel="stylesheet" type="text/css">
</head>
